In [7]:
# Loaded variable 'df' from URI: d:\scwork\year4_final\proj\crud_from_datamodel\geo_boundary_fullstack_docker\staticData\county_suppertype.csv
import pandas as pd
df = pd.read_csv(r'd:\scwork\year4_final\proj\crud_from_datamodel\geo_boundary_fullstack_docker\staticData\county_suppertype.csv')
df.head()

   geo_id         geo_code        name abbreviation
0    1496  county-10010000   เขตพระนคร            -
1    1497  county-10020000    เขตดุสิต            -
2    1498  county-10030000  เขตหนองจอก            -
3    1499  county-10040000   เขตบางรัก            -
4    1500  county-10050000   เขตบางเขน            -

In [11]:
#  type id ของ 
df['type_id']=5

In [12]:
df.head()

   geo_id         geo_code        name abbreviation  type_id
0    1496  county-10010000   เขตพระนคร            -        5
1    1497  county-10020000    เขตดุสิต            -        5
2    1498  county-10030000  เขตหนองจอก            -        5
3    1499  county-10040000   เขตบางรัก            -        5
4    1500  county-10050000   เขตบางเขน            -        5

In [13]:
# remove index
df.to_csv('./county_suppertype.csv',index=False)

In [ ]:

df.to_csv('')