# ‡∏ó‡∏≥ dataset ‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®

In [1]:
import pandas as pd

df= pd.read_csv('./rawCountryRgion.csv')
print(df)

                  name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0          Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1        √Öland Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2              Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3              Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4       American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania
..                 ...     ...     ...           ...            ...      ...
244  Wallis and Futuna      WF     WLF           876  ISO 3166-2:WF  Oceania
245     Western Sahara      EH     ESH           732  ISO 3166-2:EH   Africa
246              Yemen      YE     YEM           887  ISO 3166-2:YE     Asia
247             Zambia      ZM     ZMB           894  ISO 3166-2:ZM   Africa
248           Zimbabwe      ZW     ZWE           716  ISO 3166-2:ZW   Africa

             sub-region intermediate-region  region-code  sub-region-code  \
0         Southern Asia                 NaN        142.0             34.0
1       Northern Europe                 NaN        150.0            154.0
2       Southern Europe                 NaN        150.0             39.0
3       Northern Africa                 NaN          2.0             15.0
4             Polynesia                 NaN          9.0             61.0
..                  ...                 ...          ...              ...
244           Polynesia                 NaN          9.0             61.0
245     Northern Africa                 NaN          2.0             15.0
246        Western Asia                 NaN        142.0            145.0
247  Sub-Saharan Africa      Eastern Africa          2.0            202.0
248  Sub-Saharan Africa      Eastern Africa          2.0            202.0

     intermediate-region-code
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
..                        ...
244                       NaN
245                       NaN
246                       NaN
247                      14.0
248                      14.0

[249 rows x 11 columns]

In [2]:
df.drop(['alpha-3','country-code','iso_3166-2','region','sub-region','intermediate-region','region-code','sub-region-code','intermediate-region-code'], axis=1, inplace=True)

print(df)

                  name alpha-2
0          Afghanistan      AF
1        √Öland Islands      AX
2              Albania      AL
3              Algeria      DZ
4       American Samoa      AS
..                 ...     ...
244  Wallis and Futuna      WF
245     Western Sahara      EH
246              Yemen      YE
247             Zambia      ZM
248           Zimbabwe      ZW

[249 rows x 2 columns]

In [3]:
# ‡∏™‡∏£‡πâ‡∏≤‡∏á DataFrame ‡πÉ‡∏´‡∏°‡πà‡∏ï‡∏≤‡∏°‡πÄ‡∏á‡∏∑‡πà‡∏≠‡∏ô‡πÑ‡∏Ç
country_df = pd.DataFrame({
    "geo_id": range(1, len(df) + 1),  # ‡∏™‡∏£‡πâ‡∏≤‡∏á sequential ID
    "geo_code": "country-" + df["alpha-2"],  # geo_code = country-{alpha-2}
    "name": df["name"],  # ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå name
    "abbreviation": df["alpha-2"],  # ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå abbreviation
    "type_id": 1  # ‡∏Ñ‡πà‡∏≤ type_id ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 1
})

# ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå
print(country_df)
# country_df.to_csv('./country_suppertype.csv')

     geo_id    geo_code               name abbreviation  type_id
0         1  country-AF        Afghanistan           AF        1
1         2  country-AX      √Öland Islands           AX        1
2         3  country-AL            Albania           AL        1
3         4  country-DZ            Algeria           DZ        1
4         5  country-AS     American Samoa           AS        1
..      ...         ...                ...          ...      ...
244     245  country-WF  Wallis and Futuna           WF        1
245     246  country-EH     Western Sahara           EH        1
246     247  country-YE              Yemen           YE        1
247     248  country-ZM             Zambia           ZM        1
248     249  country-ZW           Zimbabwe           ZW        1

[249 rows x 5 columns]

# ‡∏™‡∏£‡πâ‡∏≤‡∏á subtype ‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®(country)

In [4]:
country_subtype_df = pd.DataFrame({
    "geo_id": range(1, len(country_df) + 1),  # ‡∏™‡∏£‡πâ‡∏≤‡∏á sequential ID
})

print(country_subtype_df)
country_subtype_df.to_csv('./country_subtype.csv')

     geo_id
0         1
1         2
2         3
3         4
4         5
..      ...
244     245
245     246
246     247
247     248
248     249

[249 rows x 1 columns]

# prepair sales territory

**Sales Territory** ‡∏Ñ‡∏∑‡∏≠ **‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏´‡∏£‡∏∑‡∏≠‡πÄ‡∏Ç‡∏ï‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢** ‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡πÉ‡∏´‡πâ‡∏ó‡∏µ‡∏°‡∏Ç‡∏≤‡∏¢‡∏´‡∏£‡∏∑‡∏≠‡∏ö‡∏∏‡∏Ñ‡∏Ñ‡∏•‡∏£‡∏±‡∏ö‡∏ú‡∏¥‡∏î‡∏ä‡∏≠‡∏ö‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ô‡∏±‡πâ‡∏ô ‡πÜ ‡∏Ñ‡πà‡∏∞ üòÑ 

### **‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡πÇ‡∏î‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î**
1. **‡∏Å‡∏≤‡∏£‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡πÄ‡∏Ç‡∏ï**  
   - ‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó‡πÅ‡∏ö‡πà‡∏á‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏Ç‡∏≤‡∏¢‡πÇ‡∏î‡∏¢‡∏≠‡∏¥‡∏á‡∏à‡∏≤‡∏Å‡πÄ‡∏Å‡∏ì‡∏ë‡πå ‡πÄ‡∏ä‡πà‡∏ô **‡∏ï‡∏≥‡πÅ‡∏´‡∏ô‡πà‡∏á‡∏ó‡∏≤‡∏á‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå**, **‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏Å‡∏£**, **‡∏£‡∏≤‡∏¢‡πÑ‡∏î‡πâ‡∏Ç‡∏≠‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤**, ‡∏´‡∏£‡∏∑‡∏≠ **‡∏≠‡∏∏‡∏ï‡∏™‡∏≤‡∏´‡∏Å‡∏£‡∏£‡∏°**  
   - ‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á: ‡πÄ‡∏Ç‡∏ï‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡∏≠‡∏≤‡∏à‡πÅ‡∏ö‡πà‡∏á‡∏ï‡∏≤‡∏° **‡∏†‡∏≤‡∏Ñ** (‡πÄ‡∏ä‡πà‡∏ô ‡∏†‡∏≤‡∏Ñ‡πÄ‡∏´‡∏ô‡∏∑‡∏≠, ‡∏†‡∏≤‡∏Ñ‡∏Å‡∏•‡∏≤‡∏á) ‡∏´‡∏£‡∏∑‡∏≠ **‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î** (‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà, ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏Ø)

2. **‡πÄ‡∏õ‡πâ‡∏≤‡∏´‡∏°‡∏≤‡∏¢‡∏´‡∏•‡∏±‡∏Å‡∏Ç‡∏≠‡∏á Sales Territory**  
   - ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏õ‡∏£‡∏∞‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡∏†‡∏≤‡∏û‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢  
   - ‡∏Å‡∏£‡∏∞‡∏à‡∏≤‡∏¢‡∏ó‡∏£‡∏±‡∏û‡∏¢‡∏≤‡∏Å‡∏£‡πÅ‡∏•‡∏∞‡∏ó‡∏µ‡∏°‡∏Ç‡∏≤‡∏¢‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏™‡∏°  
   - ‡πÉ‡∏ä‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏ä‡πà‡∏ß‡∏¢‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà

3. **‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô**  
   - ‡∏ï‡∏±‡∏ß‡πÅ‡∏ó‡∏ô‡∏Ç‡∏≤‡∏¢‡∏£‡∏±‡∏ö‡∏ú‡∏¥‡∏î‡∏ä‡∏≠‡∏ö **‡πÄ‡∏Ç‡∏ï‡∏†‡∏≤‡∏Ñ‡πÉ‡∏ï‡πâ** ‡πÅ‡∏•‡∏∞‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö‡πÄ‡∏õ‡πâ‡∏≤‡∏´‡∏°‡∏≤‡∏¢‡∏¢‡∏≠‡∏î‡∏Ç‡∏≤‡∏¢‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏•‡∏∞ 500,000 ‡∏ö‡∏≤‡∏ó  
   - ‡∏ó‡∏µ‡∏°‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô **‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏Ø** ‡∏≠‡∏≤‡∏à‡πÄ‡∏ô‡πâ‡∏ô‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡πÉ‡∏´‡πâ‡∏ò‡∏∏‡∏£‡∏Å‡∏¥‡∏à‡∏Ç‡∏ô‡∏≤‡∏î‡πÉ‡∏´‡∏ç‡πà

**Service Territory** ‡∏Ñ‡∏∑‡∏≠ **‡πÄ‡∏Ç‡∏ï‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ó‡∏µ‡πà‡∏≠‡∏á‡∏Ñ‡πå‡∏Å‡∏£‡∏´‡∏£‡∏∑‡∏≠‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡πÅ‡∏Å‡πà‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤** ‡πÄ‡∏ä‡πà‡∏ô ‡∏Å‡∏≤‡∏£‡∏ï‡∏¥‡∏î‡∏ï‡∏±‡πâ‡∏á, ‡∏Å‡∏≤‡∏£‡∏ã‡πà‡∏≠‡∏°‡πÅ‡∏ã‡∏°, ‡∏Å‡∏≤‡∏£‡∏™‡∏ô‡∏±‡∏ö‡∏™‡∏ô‡∏∏‡∏ô‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢, ‡∏´‡∏£‡∏∑‡∏≠‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏™‡πà‡∏á‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤ üõ†Ô∏èüöö

### **‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡πÇ‡∏î‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î**  

1. **‡∏Å‡∏≤‡∏£‡∏Å‡∏≥‡∏´‡∏ô‡∏î Service Territory**
   - ‡πÄ‡∏õ‡πá‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ó‡∏µ‡πà‡∏ó‡∏µ‡∏°‡∏á‡∏≤‡∏ô‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£ (‡πÄ‡∏ä‡πà‡∏ô ‡∏ó‡∏µ‡∏°‡∏ä‡πà‡∏≤‡∏á, ‡∏ù‡πà‡∏≤‡∏¢‡∏™‡∏ô‡∏±‡∏ö‡∏™‡∏ô‡∏∏‡∏ô‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤) ‡∏£‡∏±‡∏ö‡∏ú‡∏¥‡∏î‡∏ä‡∏≠‡∏ö‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡∏î‡∏π‡πÅ‡∏•‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤  
   - ‡πÄ‡∏Ç‡∏ï‡∏ô‡∏µ‡πâ‡∏≠‡∏≤‡∏à‡πÅ‡∏ö‡πà‡∏á‡∏ï‡∏≤‡∏° **‡∏†‡∏π‡∏°‡∏¥‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå**, **‡πÄ‡∏Ç‡∏ï‡πÑ‡∏õ‡∏£‡∏©‡∏ì‡∏µ‡∏¢‡πå**, **‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏ò‡∏∏‡∏£‡∏Å‡∏¥‡∏à**, ‡∏´‡∏£‡∏∑‡∏≠ **‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏ô‡∏≤‡πÅ‡∏ô‡πà‡∏ô‡∏Ç‡∏≠‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤**  

2. **‡∏ß‡∏±‡∏ï‡∏ñ‡∏∏‡∏õ‡∏£‡∏∞‡∏™‡∏á‡∏Ñ‡πå‡∏Ç‡∏≠‡∏á Service Territory**
   - **‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏õ‡∏£‡∏∞‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡∏†‡∏≤‡∏û‡∏Å‡∏≤‡∏£‡πÉ‡∏´‡πâ‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£:**  
     ‡∏•‡∏î‡πÄ‡∏ß‡∏•‡∏≤‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏î‡∏¥‡∏ô‡∏ó‡∏≤‡∏á ‡πÅ‡∏•‡∏∞‡∏ä‡πà‡∏ß‡∏¢‡πÉ‡∏´‡πâ‡∏ó‡∏µ‡∏°‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏ï‡∏≠‡∏ö‡∏™‡∏ô‡∏≠‡∏á‡∏ï‡πà‡∏≠‡∏õ‡∏±‡∏ç‡∏´‡∏≤‡πÑ‡∏î‡πâ‡∏£‡∏ß‡∏î‡πÄ‡∏£‡πá‡∏ß  
   - **‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏ó‡∏£‡∏±‡∏û‡∏¢‡∏≤‡∏Å‡∏£‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏õ‡∏£‡∏∞‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡∏†‡∏≤‡∏û:**  
     ‡πÉ‡∏ä‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏Ç‡∏ï‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ß‡∏≤‡∏á‡πÅ‡∏ú‡∏ô‡∏Å‡∏≤‡∏£‡∏ó‡∏≥‡∏á‡∏≤‡∏ô ‡πÄ‡∏ä‡πà‡∏ô ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡∏°‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡πÄ‡∏Ç‡∏ï  
   - **‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏Ñ‡∏ß‡∏≤‡∏°‡∏û‡∏∂‡∏á‡∏û‡∏≠‡πÉ‡∏à‡∏Ç‡∏≠‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤:**  
     ‡∏Å‡∏≤‡∏£‡πÉ‡∏´‡πâ‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏Ñ‡∏£‡∏≠‡∏ö‡∏Ñ‡∏•‡∏∏‡∏°‡πÅ‡∏•‡∏∞‡∏£‡∏ß‡∏î‡πÄ‡∏£‡πá‡∏ß‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ó‡∏µ‡πà‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏≠‡∏¢‡∏π‡πà  

3. **‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô**
   - ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏Ç‡∏≠‡∏á‡∏ó‡∏µ‡∏°‡∏ï‡∏¥‡∏î‡∏ï‡∏±‡πâ‡∏á‡∏≠‡∏¥‡∏ô‡πÄ‡∏ó‡∏≠‡∏£‡πå‡πÄ‡∏ô‡πá‡∏ï ‡πÄ‡∏ä‡πà‡∏ô **‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏Ø ‡∏ù‡∏±‡πà‡∏á‡∏ò‡∏ô‡∏ö‡∏∏‡∏£‡∏µ**  
   - ‡∏Å‡∏≤‡∏£‡∏ã‡πà‡∏≠‡∏°‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡πÑ‡∏ü‡∏ü‡πâ‡∏≤‡∏Ç‡∏≠‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡πÉ‡∏ô‡πÄ‡∏Ç‡∏ï **‡∏†‡∏≤‡∏Ñ‡∏ï‡∏∞‡∏ß‡∏±‡∏ô‡∏≠‡∏≠‡∏Å‡πÄ‡∏â‡∏µ‡∏¢‡∏á‡πÄ‡∏´‡∏ô‡∏∑‡∏≠**  
   - ‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏™‡πà‡∏á‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡πÉ‡∏ô‡∏£‡∏±‡∏®‡∏°‡∏µ 20 ‡∏Å‡∏¥‡πÇ‡∏•‡πÄ‡∏°‡∏ï‡∏£‡∏£‡∏≠‡∏ö‡∏Ñ‡∏•‡∏±‡∏á‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤  

---

### **‡∏Ñ‡∏ß‡∏≤‡∏°‡πÅ‡∏ï‡∏Å‡∏ï‡πà‡∏≤‡∏á‡∏£‡∏∞‡∏´‡∏ß‡πà‡∏≤‡∏á Sales Territory ‡πÅ‡∏•‡∏∞ Service Territory**
- **Sales Territory**: ‡πÄ‡∏ô‡πâ‡∏ô‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏Ç‡∏¢‡∏≤‡∏¢‡∏ï‡∏•‡∏≤‡∏î  
- **Service Territory**: ‡πÄ‡∏ô‡πâ‡∏ô‡∏Å‡∏≤‡∏£‡∏™‡∏ô‡∏±‡∏ö‡∏™‡∏ô‡∏∏‡∏ô‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏•‡∏±‡∏á‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢  

---


### **‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ä‡πâ‡∏à‡∏£‡∏¥‡∏á**
1. **‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó‡πÇ‡∏ó‡∏£‡∏Ñ‡∏°‡∏ô‡∏≤‡∏Ñ‡∏°**  
   - ‡∏ó‡∏µ‡∏°‡∏ï‡∏¥‡∏î‡∏ï‡∏±‡πâ‡∏á‡πÄ‡∏ô‡πá‡∏ï‡πÑ‡∏ü‡πÄ‡∏ö‡∏≠‡∏£‡πå‡∏£‡∏±‡∏ö‡∏ú‡∏¥‡∏î‡∏ä‡∏≠‡∏ö‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥  
   - ‡πÉ‡∏ä‡πâ‡∏£‡∏∞‡∏ö‡∏ö GIS ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ß‡∏≤‡∏á‡πÅ‡∏ú‡∏ô‡πÅ‡∏•‡∏∞‡∏î‡∏π‡πÅ‡∏• Service Territory  

2. **‡∏ö‡∏£‡∏¥‡∏©‡∏±‡∏ó‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤**  
   - ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏ó‡∏µ‡∏°‡∏™‡πà‡∏á‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏°‡∏£‡∏´‡∏±‡∏™‡πÑ‡∏õ‡∏£‡∏©‡∏ì‡∏µ‡∏¢‡πå ‡πÄ‡∏ä‡πà‡∏ô ‡πÄ‡∏Ç‡∏ï 10110 (‡∏û‡∏£‡∏∞‡πÇ‡∏Ç‡∏ô‡∏á)  
   - ‡πÅ‡∏ö‡πà‡∏á‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏´‡πâ‡∏ó‡∏µ‡∏°‡πÑ‡∏°‡πà‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô  

---

‡∏ñ‡πâ‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• Dataset ‡∏´‡∏£‡∏∑‡∏≠‡∏Ñ‡∏≥‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡∏ï‡∏±‡πâ‡∏á Service Territory ‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏™‡∏°‡∏Å‡∏±‡∏ö‡πÇ‡∏õ‡∏£‡πÄ‡∏à‡∏Å‡∏ï‡πå ‡∏ö‡∏≠‡∏Å‡πÑ‡∏î‡πâ‡∏ô‡∏∞‡∏Ñ‡∏∞ ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏ä‡πà‡∏ß‡∏¢‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡πÉ‡∏´‡πâ‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÄ‡∏•‡∏¢‡∏Ñ‡πà‡∏∞! üöÄüìä

# DB ‡∏ó‡∏µ‡πà‡∏ó‡∏≥ ‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏Å‡∏µ‡πà‡∏¢‡∏ß‡∏Å‡∏±‡∏ö ‡πÄ‡∏Ç‡∏ï‡∏£‡∏±‡∏ö‡∏ú‡∏¥‡∏î‡∏ä‡∏≠‡∏ö‡∏Å‡∏≤‡∏£‡∏Ç‡∏≤‡∏¢ ‡∏´‡∏£‡∏∑‡∏≠ ‡πÄ‡∏Ç‡∏ï‡∏£‡∏±‡∏ö‡∏ú‡∏¥‡∏î‡∏ä‡∏≠‡∏ö‡∏Å‡∏≤‡∏£‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£ ‡πÄ‡∏•‡∏¢‡∏à‡∏∞‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡πÉ‡∏™‡πà‡∏Ç‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•

# prepair region csv

In [5]:
## region ‡∏Ñ‡∏∑‡∏≠‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ ‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ ‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ‡πÉ‡∏ä‡πâ‡∏£‡∏∞‡∏ö‡∏ö ‡∏†‡∏π‡∏°‡∏¥‡∏†‡∏≤‡∏Ñ
import pandas as pd
df = pd.read_csv('./rawCountryRgion.csv')
print(df)

                  name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0          Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1        √Öland Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2              Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3              Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4       American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania
..                 ...     ...     ...           ...            ...      ...
244  Wallis and Futuna      WF     WLF           876  ISO 3166-2:WF  Oceania
245     Western Sahara      EH     ESH           732  ISO 3166-2:EH   Africa
246              Yemen      YE     YEM           887  ISO 3166-2:YE     Asia
247             Zambia      ZM     ZMB           894  ISO 3166-2:ZM   Africa
248           Zimbabwe      ZW     ZWE           716  ISO 3166-2:ZW   Africa

             sub-region intermediate-region  region-code  sub-region-code  \
0         Southern Asia                 NaN        142.0             34.0
1       Northern Europe                 NaN        150.0            154.0
2       Southern Europe                 NaN        150.0             39.0
3       Northern Africa                 NaN          2.0             15.0
4             Polynesia                 NaN          9.0             61.0
..                  ...                 ...          ...              ...
244           Polynesia                 NaN          9.0             61.0
245     Northern Africa                 NaN          2.0             15.0
246        Western Asia                 NaN        142.0            145.0
247  Sub-Saharan Africa      Eastern Africa          2.0            202.0
248  Sub-Saharan Africa      Eastern Africa          2.0            202.0

     intermediate-region-code
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
..                        ...
244                       NaN
245                       NaN
246                       NaN
247                      14.0
248                      14.0

[249 rows x 11 columns]

In [6]:
df_region = pd.DataFrame({
    "name": df["region"],
    "code": df["region-code"]
})
print(df_region)

        name   code
0       Asia  142.0
1     Europe  150.0
2     Europe  150.0
3     Africa    2.0
4    Oceania    9.0
..       ...    ...
244  Oceania    9.0
245   Africa    2.0
246     Asia  142.0
247   Africa    2.0
248   Africa    2.0

[249 rows x 2 columns]

In [7]:
## select distinct region
df_region = df_region.drop_duplicates()
df_region = df_region.dropna()
print(df_region)

       name   code
0      Asia  142.0
1    Europe  150.0
3    Africa    2.0
4   Oceania    9.0
7  Americas   19.0

prompt

‡∏à‡∏≤‡∏Å dataset ‡∏ô‡∏µ‡πâ

```
       name   code
0      Asia  142.0
1    Europe  150.0
3    Africa    2.0
4   Oceania    9.0
7  Americas   19.0
```

‡∏ä‡πà‡∏ß‡∏¢‡πÄ‡∏≠‡∏≤‡∏°‡∏≤ map ‡πÄ‡∏õ‡πá‡∏ô dataframe ‡πÉ‡∏´‡∏°‡πà ‡∏ä‡∏∑‡πà‡∏≠ country_df
‡πÇ‡∏î‡∏¢‡∏°‡∏µ column ‡∏î‡∏±‡∏á‡∏ô‡∏µ‡πâ
1. geo_id ‡∏Ñ‡∏∑‡∏≠ sequencial 1-...
2. geo_code ‡∏Ñ‡∏∑‡∏≠ region-{code ‡∏ó‡∏µ‡πà‡πÄ‡∏≠‡∏≤‡∏ó‡∏®‡∏ô‡∏¥‡∏¢‡∏°‡∏≠‡∏≠‡∏Å}
3. name ‡∏Ñ‡∏∑‡∏≠ ‡∏ä‡∏∑‡πà‡∏≠‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡πÄ‡∏î‡∏¥‡∏°
4. abbreviation ‡∏Ñ‡∏∑‡∏≠ {code ‡∏ó‡∏µ‡πà‡πÄ‡∏≠‡∏≤‡∏ó‡∏®‡∏ô‡∏¥‡∏¢‡∏°‡∏≠‡∏≠‡∏Å} ‡πÄ‡∏â‡∏¢‡πÜ
5. type_id ‡∏Ñ‡∏∑‡∏≠ 10

In [8]:


# ‡πÅ‡∏õ‡∏•‡∏á code ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏ï‡πá‡∏°
df_region["code_int"] = df_region["code"].astype(int)

# ‡∏™‡∏£‡πâ‡∏≤‡∏á DataFrame ‡πÉ‡∏´‡∏°‡πà‡∏ï‡∏≤‡∏°‡πÄ‡∏á‡∏∑‡πà‡∏≠‡∏ô‡πÑ‡∏Ç
region_df = pd.DataFrame({
    "geo_id": range(1+250, len(df_region) + 1+250),  # ‡∏™‡∏£‡πâ‡∏≤‡∏á sequential ID ‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏à‡∏≤‡∏Å id ‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ä‡∏±‡∏ô‡∏Å‡∏±‡∏ö country
    "geo_code": "region-" + df_region["code_int"].astype(str),  # geo_code = region-{code ‡∏ó‡∏µ‡πà‡πÄ‡∏≠‡∏≤‡∏ó‡∏®‡∏ô‡∏¥‡∏¢‡∏°‡∏≠‡∏≠‡∏Å}
    "name": df_region["name"],  # ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå name
    "abbreviation": df_region["code_int"].astype(str),  # abbreviation = {code ‡∏ó‡∏µ‡πà‡πÄ‡∏≠‡∏≤‡∏ó‡∏®‡∏ô‡∏¥‡∏¢‡∏°‡∏≠‡∏≠‡∏Å}
    "type_id": 10  # ‡∏Ñ‡πà‡∏≤ type_id ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 10
})

# ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå
print(region_df)
region_df.to_csv('./region_supertype.csv')

   geo_id    geo_code      name abbreviation  type_id
0     251  region-142      Asia          142       10
1     252  region-150    Europe          150       10
3     253    region-2    Africa            2       10
4     254    region-9   Oceania            9       10
7     255   region-19  Americas           19       10

In [9]:
region_subtype_df = pd.DataFrame({
    "geo_id": region_df["geo_id"],
})

print(region_subtype_df)
region_subtype_df.to_csv('./region_subtype.csv')

   geo_id
0     251
1     252
3     253
4     254
7     255

# prepair postal code

In [10]:
import pandas as pd
raw_postal_df = pd.read_json('./postal.json')
print(raw_postal_df)

        id    zip       province    district        lat         lng
0        1  10200  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£      ‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£  13.756024  100.498679
1        2  10300  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£       ‡∏î‡∏∏‡∏™‡∏¥‡∏ï  13.772694  100.509926
2        3  10530  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£     ‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å  13.855988  100.861969
3        4  10500  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£      ‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å  13.726240  100.526799
4        5  10220  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£      ‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô  13.864387  100.614643
...    ...    ...            ...         ...        ...         ...
1158  1159  96190       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô   5.938557  101.779963
1159  1160  96120       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å‡∏•‡∏Å   6.020954  101.952146
1160  1161  96140       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ   6.083510  101.911987
1161  1162  96220       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞   6.168756  101.697864
1162  1163  96130       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á   6.294943  101.717652

[1163 rows x 6 columns]

In [11]:
filter_postal_df = pd.DataFrame({
    "name": raw_postal_df["district"],
    "code": raw_postal_df["zip"],
})
print(filter_postal_df)

            name   code
0         ‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£  10200
1          ‡∏î‡∏∏‡∏™‡∏¥‡∏ï  10300
2        ‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å  10530
3         ‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å  10500
4         ‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô  10220
...          ...    ...
1158     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô  96190
1159   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å‡∏•‡∏Å  96120
1160   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ  96140
1161       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞  96220
1162  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á  96130

[1163 rows x 2 columns]

In [12]:
postal_suppertype_df = pd.DataFrame({
    "geo_id": range(256, len(filter_postal_df) + 256),
    "geo_code": "postal-" + filter_postal_df["code"].astype(str),
    "name": filter_postal_df["name"],  # ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå name
    "abbreviation": filter_postal_df["code"].astype(str), 
    "type_id":6,
})

print(postal_suppertype_df)
postal_suppertype_df.to_csv('./postalcode_suppertype.csv')

      geo_id      geo_code        name abbreviation  type_id
0        256  postal-10200      ‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£        10200        6
1        257  postal-10300       ‡∏î‡∏∏‡∏™‡∏¥‡∏ï        10300        6
2        258  postal-10530     ‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å        10530        6
3        259  postal-10500      ‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å        10500        6
4        260  postal-10220      ‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô        10220        6
...      ...           ...         ...          ...      ...
1158    1414  postal-96190     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô        96190        6
1159    1415  postal-96120   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å‡∏•‡∏Å        96120        6
1160    1416  postal-96140   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ        96140        6
1161    1417  postal-96220       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞        96220        6
1162    1418  postal-96130  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á        96130        6

[1163 rows x 5 columns]

In [13]:
postal_subtype_df = pd.DataFrame({
    "geo_id": postal_suppertype_df["geo_id"],
    "country_id": 221,
})

postal_subtype_df.to_csv('./postalcode_subtype.csv')

print(postal_subtype_df)

      geo_id  country_id
0        256         221
1        257         221
2        258         221
3        259         221
4        260         221
...      ...         ...
1158    1414         221
1159    1415         221
1160    1416         221
1161    1417         221
1162    1418         221

[1163 rows x 2 columns]

# prepair state

In [29]:
import pandas as pd
raw_state_df = pd.read_csv('./state_code_name_abb.csv')
print(raw_state_df)

    Unnamed: 0      code           nameTh abbraviation
0            0  10000000    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK
1            1  11000000      ‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£          SPK
2            2  12000000          ‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ          NBI
3            3  13000000         ‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ          PTE
4            4  14000000  ‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤          AYA
..         ...       ...              ...          ...
72          72  92000000             ‡∏ï‡∏£‡∏±‡∏á          TRG
73          73  93000000           ‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á          PLG
74          74  94000000          ‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ          PTN
75          75  95000000             ‡∏¢‡∏∞‡∏•‡∏≤          YLA
76          76  96000000         ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT

[77 rows x 4 columns]

In [30]:
state_suppertype_df = pd.DataFrame({
    "geo_id": range(1419, len(raw_state_df) + 1419),
    "geo_code": "state-TH-" + raw_state_df["code"].astype(str),
    "name": raw_state_df["nameTh"],  # ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå name
    "abbreviation": raw_state_df["abbraviation"],
    "type_id":3,
})
print(state_suppertype_df)
state_suppertype_df.to_csv('./state_suppertype.csv')

    geo_id           geo_code             name abbreviation  type_id
0     1419  state-TH-10000000    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK        3
1     1420  state-TH-11000000      ‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£          SPK        3
2     1421  state-TH-12000000          ‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ          NBI        3
3     1422  state-TH-13000000         ‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ          PTE        3
4     1423  state-TH-14000000  ‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤          AYA        3
..     ...                ...              ...          ...      ...
72    1491  state-TH-92000000             ‡∏ï‡∏£‡∏±‡∏á          TRG        3
73    1492  state-TH-93000000           ‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á          PLG        3
74    1493  state-TH-94000000          ‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ          PTN        3
75    1494  state-TH-95000000             ‡∏¢‡∏∞‡∏•‡∏≤          YLA        3
76    1495  state-TH-96000000         ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT        3

[77 rows x 5 columns]

In [31]:
state_subtype_df = pd.DataFrame({
    "geo_id": state_suppertype_df["geo_id"],
    "country_id": 221,
})

state_subtype_df.to_csv('./state_subtype.csv')
print(state_subtype_df)

    geo_id  country_id
0     1419         221
1     1420         221
2     1421         221
3     1422         221
4     1423         221
..     ...         ...
72    1491         221
73    1492         221
74    1493         221
75    1494         221
76    1495         221

[77 rows x 2 columns]

# prepair county

In [32]:
import pandas as pd
raw_county_df = pd.read_csv('../data_mining/ccaatt.csv')
print(raw_county_df)

           code                 nameTh                     nameEng  \
0      10000000          ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£                     Bangkok
1      10010000              ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£                 Phra Nakhon
2      10010100        ‡∏û‡∏£‡∏∞‡∏ö‡∏£‡∏°‡∏°‡∏´‡∏≤‡∏£‡∏≤‡∏ä‡∏ß‡∏±‡∏á  Phra Borom Maha Ratchawang
3      10010200         ‡∏ß‡∏±‡∏á‡∏ö‡∏π‡∏£‡∏û‡∏≤‡∏†‡∏¥‡∏£‡∏°‡∏¢‡πå         Wang Burapha Phirom
4      10010300             ‡∏ß‡∏±‡∏î‡∏£‡∏≤‡∏ä‡∏ö‡∏û‡∏¥‡∏ò            Wat Ratchabophit
...         ...                    ...                         ...
10020  96130100                    ‡∏à‡∏ß‡∏ö                       Chuap
10021  96130200                  ‡∏ö‡∏π‡∏Å‡∏¥‡∏ï                       Bukit
10022  96130300             ‡∏°‡∏∞‡∏£‡∏∑‡∏≠‡πÇ‡∏ö‡∏≠‡∏≠‡∏Å                  Maruebo Ok
10023  96810000  ‡∏≠.‡∏ö‡∏≤‡∏á‡∏ô‡∏£‡∏≤  ‡∏à.‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™*
10024  97059600               ‡πÇ‡∏Ñ‡∏Å‡∏™‡∏≠‡∏≤‡∏î*                  Khok Sa-at

       transferdate
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
10020             0
10021             0
10022             0
10023      25490101
10024      25490101

[10025 rows x 4 columns]

In [33]:
# ‡∏•‡∏ö Missing Values (NaN) ‡∏≠‡∏≠‡∏Å‡∏à‡∏≤‡∏Å DataFrame
clean1_county_df = raw_county_df.dropna()
print('nan value terminate',len(raw_county_df)-len(clean1_county_df))
print(clean1_county_df)

nan value terminate 0
           code                 nameTh                     nameEng  \
0      10000000          ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£                     Bangkok
1      10010000              ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£                 Phra Nakhon
2      10010100        ‡∏û‡∏£‡∏∞‡∏ö‡∏£‡∏°‡∏°‡∏´‡∏≤‡∏£‡∏≤‡∏ä‡∏ß‡∏±‡∏á  Phra Borom Maha Ratchawang
3      10010200         ‡∏ß‡∏±‡∏á‡∏ö‡∏π‡∏£‡∏û‡∏≤‡∏†‡∏¥‡∏£‡∏°‡∏¢‡πå         Wang Burapha Phirom
4      10010300             ‡∏ß‡∏±‡∏î‡∏£‡∏≤‡∏ä‡∏ö‡∏û‡∏¥‡∏ò            Wat Ratchabophit
...         ...                    ...                         ...
10020  96130100                    ‡∏à‡∏ß‡∏ö                       Chuap
10021  96130200                  ‡∏ö‡∏π‡∏Å‡∏¥‡∏ï                       Bukit
10022  96130300             ‡∏°‡∏∞‡∏£‡∏∑‡∏≠‡πÇ‡∏ö‡∏≠‡∏≠‡∏Å                  Maruebo Ok
10023  96810000  ‡∏≠.‡∏ö‡∏≤‡∏á‡∏ô‡∏£‡∏≤  ‡∏à.‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™*
10024  97059600               ‡πÇ‡∏Ñ‡∏Å‡∏™‡∏≠‡∏≤‡∏î*                  Khok Sa-at

       transferdate
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
10020             0
10021             0
10022             0
10023      25490101
10024      25490101

[10025 rows x 4 columns]

In [34]:
# ‡∏ï‡∏±‡∏î‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà nameTh ‡∏•‡∏á‡∏ó‡πâ‡∏≤‡∏¢‡∏î‡πâ‡∏ß‡∏¢ '*'
clean2_county_df = clean1_county_df[~clean1_county_df['nameTh'].str.endswith('*')]
print('before drop *',len(clean1_county_df))
print('after drop *',len(clean2_county_df))
print('drop data end with * = ',len(clean1_county_df)-len(clean2_county_df))
print(clean2_county_df)

before drop * 10025
after drop * 8441
drop data end with * =  1584
           code           nameTh                     nameEng  transferdate
0      10000000    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£                     Bangkok             0
1      10010000        ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£                 Phra Nakhon             0
2      10010100  ‡∏û‡∏£‡∏∞‡∏ö‡∏£‡∏°‡∏°‡∏´‡∏≤‡∏£‡∏≤‡∏ä‡∏ß‡∏±‡∏á  Phra Borom Maha Ratchawang             0
3      10010200   ‡∏ß‡∏±‡∏á‡∏ö‡∏π‡∏£‡∏û‡∏≤‡∏†‡∏¥‡∏£‡∏°‡∏¢‡πå         Wang Burapha Phirom             0
4      10010300       ‡∏ß‡∏±‡∏î‡∏£‡∏≤‡∏ä‡∏ö‡∏û‡∏¥‡∏ò            Wat Ratchabophit             0
...         ...              ...                         ...           ...
10018  96120400        ‡∏ä‡πâ‡∏≤‡∏á‡πÄ‡∏ú‡∏∑‡∏≠‡∏Å                Chang Phueak             0
10019  96130000       ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á                  Cho-airong             0
10020  96130100              ‡∏à‡∏ß‡∏ö                       Chuap             0
10021  96130200            ‡∏ö‡∏π‡∏Å‡∏¥‡∏ï                       Bukit             0
10022  96130300       ‡∏°‡∏∞‡∏£‡∏∑‡∏≠‡πÇ‡∏ö‡∏≠‡∏≠‡∏Å                  Maruebo Ok             0

[8441 rows x 4 columns]

In [35]:
# extract feature
clean3_county_df = pd.DataFrame({
    "code": clean2_county_df["code"].astype(str),
    "name": clean2_county_df["nameTh"],
})

print(clean3_county_df)

           code             name
0      10000000    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
1      10010000        ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£
2      10010100  ‡∏û‡∏£‡∏∞‡∏ö‡∏£‡∏°‡∏°‡∏´‡∏≤‡∏£‡∏≤‡∏ä‡∏ß‡∏±‡∏á
3      10010200   ‡∏ß‡∏±‡∏á‡∏ö‡∏π‡∏£‡∏û‡∏≤‡∏†‡∏¥‡∏£‡∏°‡∏¢‡πå
4      10010300       ‡∏ß‡∏±‡∏î‡∏£‡∏≤‡∏ä‡∏ö‡∏û‡∏¥‡∏ò
...         ...              ...
10018  96120400        ‡∏ä‡πâ‡∏≤‡∏á‡πÄ‡∏ú‡∏∑‡∏≠‡∏Å
10019  96130000       ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á
10020  96130100              ‡∏à‡∏ß‡∏ö
10021  96130200            ‡∏ö‡∏π‡∏Å‡∏¥‡∏ï
10022  96130300       ‡∏°‡∏∞‡∏£‡∏∑‡∏≠‡πÇ‡∏ö‡∏≠‡∏≠‡∏Å

[8441 rows x 2 columns]

In [36]:
# split digit
clean4_county_df = pd.DataFrame({
    'code': clean3_county_df['code'],
    'state_digit': clean3_county_df['code'].str[0:2],
    'county_digit': clean3_county_df['code'].str[2:4],
    'aumper_digit': clean3_county_df['code'].str[4:6],
    'name': clean3_county_df['name'],
})

print(clean4_county_df)

           code state_digit county_digit aumper_digit             name
0      10000000          10           00           00    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
1      10010000          10           01           00        ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£
2      10010100          10           01           01  ‡∏û‡∏£‡∏∞‡∏ö‡∏£‡∏°‡∏°‡∏´‡∏≤‡∏£‡∏≤‡∏ä‡∏ß‡∏±‡∏á
3      10010200          10           01           02   ‡∏ß‡∏±‡∏á‡∏ö‡∏π‡∏£‡∏û‡∏≤‡∏†‡∏¥‡∏£‡∏°‡∏¢‡πå
4      10010300          10           01           03       ‡∏ß‡∏±‡∏î‡∏£‡∏≤‡∏ä‡∏ö‡∏û‡∏¥‡∏ò
...         ...         ...          ...          ...              ...
10018  96120400          96           12           04        ‡∏ä‡πâ‡∏≤‡∏á‡πÄ‡∏ú‡∏∑‡∏≠‡∏Å
10019  96130000          96           13           00       ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á
10020  96130100          96           13           01              ‡∏à‡∏ß‡∏ö
10021  96130200          96           13           02            ‡∏ö‡∏π‡∏Å‡∏¥‡∏ï
10022  96130300          96           13           03       ‡∏°‡∏∞‡∏£‡∏∑‡∏≠‡πÇ‡∏ö‡∏≠‡∏≠‡∏Å

[8441 rows x 5 columns]

In [37]:
## filter only county
clean5_county_df = clean4_county_df[clean4_county_df['aumper_digit'] == '00']
clean6_county_df = clean5_county_df[clean5_county_df['county_digit'] != '00']
state_df = clean5_county_df[clean5_county_df['county_digit'] == '00']
print('county')
print(clean6_county_df)
print('state')
print(state_df)

county
           code state_digit county_digit aumper_digit        name
1      10010000          10           01           00   ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£
14     10020000          10           02           00    ‡πÄ‡∏Ç‡∏ï‡∏î‡∏∏‡∏™‡∏¥‡∏ï
22     10030000          10           03           00  ‡πÄ‡∏Ç‡∏ï‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å
31     10040000          10           04           00   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å
37     10050000          10           05           00   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô
...         ...         ...          ...          ...         ...
9996   96090000          96           09           00     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô
10002  96100000          96           10           00  ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å-‡∏•‡∏Å
10007  96110000          96           11           00   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ
10014  96120000          96           12           00       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞
10019  96130000          96           13           00  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á

[928 rows x 5 columns]
state
          code state_digit county_digit aumper_digit             name
0     10000000          10           00           00    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
311   11000000          11           00           00      ‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£
382   12000000          12           00           00          ‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ
443   13000000          13           00           00         ‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ
512   14000000          14           00           00  ‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤
...        ...         ...          ...          ...              ...
9488  92000000          92           00           00             ‡∏ï‡∏£‡∏±‡∏á
9616  93000000          93           00           00           ‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á
9716  94000000          94           00           00          ‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ
9847  95000000          95           00           00             ‡∏¢‡∏∞‡∏•‡∏≤
9924  96000000          96           00           00         ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™

[77 rows x 5 columns]

In [38]:
# ‡∏õ‡πâ‡∏≠‡∏á‡∏Å‡∏±‡∏ô‡∏Å‡∏≤‡∏£‡∏ú‡∏¥‡∏î‡∏û‡∏•‡∏≤‡∏î ‡∏ï‡πâ‡∏≠‡∏á‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ç‡∏≠‡∏á ‡πÄ‡πÄ‡∏ï‡πà‡∏•‡∏∞‡∏ï‡∏±‡∏ß ‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î‡πÑ‡∏ß‡πâ‡∏Å‡πà‡∏≠‡∏ô‡∏à‡∏∞ merge df
print('len of county ‡∏°‡∏µ‡∏≠‡∏≥‡πÄ‡∏†‡∏≠ aka ‡πÄ‡∏Ç‡∏ï',len(clean6_county_df))
print('len of state ‡∏°‡∏µ‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î',len(state_df))

len of county ‡∏°‡∏µ‡∏≠‡∏≥‡πÄ‡∏†‡∏≠ aka ‡πÄ‡∏Ç‡∏ï 928
len of state ‡∏°‡∏µ‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î 77

In [39]:
merged_county_df = pd.merge(clean6_county_df, state_df, on='state_digit', how='inner')

print(merged_county_df)

       code_x state_digit county_digit_x aumper_digit_x      name_x    code_y  \
0    10010000          10             01             00   ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£  10000000
1    10020000          10             02             00    ‡πÄ‡∏Ç‡∏ï‡∏î‡∏∏‡∏™‡∏¥‡∏ï  10000000
2    10030000          10             03             00  ‡πÄ‡∏Ç‡∏ï‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å  10000000
3    10040000          10             04             00   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å  10000000
4    10050000          10             05             00   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô  10000000
..        ...         ...            ...            ...         ...       ...
923  96090000          96             09             00     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô  96000000
924  96100000          96             10             00  ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å-‡∏•‡∏Å  96000000
925  96110000          96             11             00   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ  96000000
926  96120000          96             12             00       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞  96000000
927  96130000          96             13             00  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á  96000000

    county_digit_y aumper_digit_y         name_y
0               00             00  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
1               00             00  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
2               00             00  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
3               00             00  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
4               00             00  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
..             ...            ...            ...
923             00             00       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
924             00             00       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
925             00             00       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
926             00             00       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
927             00             00       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™

[928 rows x 9 columns]

In [40]:
# ‡∏ô‡∏±‡∏ö‡∏à‡∏≥‡∏ô‡∏ß‡∏ô ‡∏Å‡∏±‡∏ô‡∏û‡∏•‡∏≤‡∏î
print(len(merged_county_df))

928

In [41]:
county_code_name_inside = pd.DataFrame({
    'code': merged_county_df['code_x'],
    'name': merged_county_df['name_x'],
    'inside_state_code': merged_county_df['code_y'],
    'inside_state_name': merged_county_df['name_y'],
})
print(county_code_name_inside)

         code        name inside_state_code inside_state_name
0    10010000   ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
1    10020000    ‡πÄ‡∏Ç‡∏ï‡∏î‡∏∏‡∏™‡∏¥‡∏ï          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
2    10030000  ‡πÄ‡∏Ç‡∏ï‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
3    10040000   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
4    10050000   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
..        ...         ...               ...               ...
923  96090000     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
924  96100000  ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å-‡∏•‡∏Å          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
925  96110000   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
926  96120000       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™
927  96130000  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™

[928 rows x 4 columns]

In [42]:
state_suppertype_df = pd.read_csv('./state_suppertype.csv')
print(state_suppertype_df)

    Unnamed: 0  geo_id           geo_code             name abbreviation  \
0            0    1419  state-TH-10000000    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK
1            1    1420  state-TH-11000000      ‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£          SPK
2            2    1421  state-TH-12000000          ‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ          NBI
3            3    1422  state-TH-13000000         ‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ          PTE
4            4    1423  state-TH-14000000  ‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤          AYA
..         ...     ...                ...              ...          ...
72          72    1491  state-TH-92000000             ‡∏ï‡∏£‡∏±‡∏á          TRG
73          73    1492  state-TH-93000000           ‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á          PLG
74          74    1493  state-TH-94000000          ‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ          PTN
75          75    1494  state-TH-95000000             ‡∏¢‡∏∞‡∏•‡∏≤          YLA
76          76    1495  state-TH-96000000         ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT

    type_id
0         3
1         3
2         3
3         3
4         3
..      ...
72        3
73        3
74        3
75        3
76        3

[77 rows x 6 columns]

In [44]:
raw_county_state_df = pd.merge(county_code_name_inside, state_suppertype_df, left_on='inside_state_name', right_on='name', how='inner')
print(raw_county_state_df)

         code      name_x inside_state_code inside_state_name  Unnamed: 0  \
0    10010000   ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           0
1    10020000    ‡πÄ‡∏Ç‡∏ï‡∏î‡∏∏‡∏™‡∏¥‡∏ï          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           0
2    10030000  ‡πÄ‡∏Ç‡∏ï‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           0
3    10040000   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           0
4    10050000   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô          10000000     ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           0
..        ...         ...               ...               ...         ...
923  96090000     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          76
924  96100000  ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å-‡∏•‡∏Å          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          76
925  96110000   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          76
926  96120000       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          76
927  96130000  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á          96000000          ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          76

     geo_id           geo_code         name_y abbreviation  type_id
0      1419  state-TH-10000000  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK        3
1      1419  state-TH-10000000  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK        3
2      1419  state-TH-10000000  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK        3
3      1419  state-TH-10000000  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK        3
4      1419  state-TH-10000000  ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£          BKK        3
..      ...                ...            ...          ...      ...
923    1495  state-TH-96000000       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT        3
924    1495  state-TH-96000000       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT        3
925    1495  state-TH-96000000       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT        3
926    1495  state-TH-96000000       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT        3
927    1495  state-TH-96000000       ‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™          NWT        3

[928 rows x 10 columns]

In [45]:
# ‡∏ô‡∏±‡∏ö‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å merge ‡∏Å‡∏±‡∏ô‡∏û‡∏•‡∏≤‡∏î
print(len(raw_county_state_df))
print(raw_county_state_df.info())

928
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 928 entries, 0 to 927
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               928 non-null    object
 1   name_x             928 non-null    object
 2   inside_state_code  928 non-null    object
 3   inside_state_name  928 non-null    object
 4   Unnamed: 0         928 non-null    int64
 5   geo_id             928 non-null    int64
 6   geo_code           928 non-null    object
 7   name_y             928 non-null    object
 8   abbreviation       928 non-null    object
 9   type_id            928 non-null    int64
dtypes: int64(3), object(7)
memory usage: 72.6+ KB
None

In [50]:
county_suppertype_df = pd.DataFrame({
    "geo_id": range(1496, len(raw_county_state_df) + 1496),  # ‡∏™‡∏£‡πâ‡∏≤‡∏á sequential ID
    "geo_code":'county-'+raw_county_state_df['code'].astype(str),
    'name':raw_county_state_df['name_x'],
    'abbreviation':'-'
})
county_suppertype_df.to_csv('./county_suppertype.csv')
print(county_suppertype_df)

     geo_id         geo_code        name abbreviation
0      1496  county-10010000   ‡πÄ‡∏Ç‡∏ï‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£            -
1      1497  county-10020000    ‡πÄ‡∏Ç‡∏ï‡∏î‡∏∏‡∏™‡∏¥‡∏ï            -
2      1498  county-10030000  ‡πÄ‡∏Ç‡∏ï‡∏´‡∏ô‡∏≠‡∏á‡∏à‡∏≠‡∏Å            -
3      1499  county-10040000   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å            -
4      1500  county-10050000   ‡πÄ‡∏Ç‡∏ï‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô            -
..      ...              ...         ...          ...
923    2419  county-96090000     ‡∏™‡∏∏‡∏Ñ‡∏¥‡∏£‡∏¥‡∏ô            -
924    2420  county-96100000  ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡πÇ‡∏Å-‡∏•‡∏Å            -
925    2421  county-96110000   ‡∏™‡∏∏‡πÑ‡∏´‡∏á‡∏õ‡∏≤‡∏î‡∏µ            -
926    2422  county-96120000       ‡∏à‡∏∞‡πÅ‡∏ô‡∏∞            -
927    2423  county-96130000  ‡πÄ‡∏à‡∏≤‡∏∞‡πÑ‡∏≠‡∏£‡πâ‡∏≠‡∏á            -

[928 rows x 4 columns]

In [51]:
county_subtype_df = pd.DataFrame({
    "geo_id": county_suppertype_df['geo_id'],
    "state_id": raw_county_state_df['geo_id'],
})
# raw_county_state_df ‡∏Ñ‡∏∑‡∏≠ inner join ‡∏Ç‡∏≠‡∏á county ‡πÄ‡πÄ‡∏•‡∏∞ state ‡πÄ‡∏≠‡∏≤‡πÑ‡∏ß‡πâ get state ‡∏ó‡∏µ‡πà county ‡∏≠‡∏¢‡∏π‡πà‡∏†‡∏≤‡∏¢‡πÉ‡∏ô‡∏ô‡∏±‡πâ‡∏ô

county_subtype_df.to_csv('./county_subtype.csv')
print(county_subtype_df)

     geo_id  state_id
0      1496      1419
1      1497      1419
2      1498      1419
3      1499      1419
4      1500      1419
..      ...       ...
923    2419      1495
924    2420      1495
925    2421      1495
926    2422      1495
927    2423      1495

[928 rows x 2 columns]