เริ่มจากการโหลดข้อมูล เเล้วเเปลงเป็น dataframe

In [2]:
# # Import libraries
# import pandas as pd

# # ระบุ path ของไฟล์ Excel ที่ต้องการอ่าน
# file_path = './ccaatt.xlsx'

# # อ่านไฟล์ Excel เป็น DataFrame
# df = pd.read_excel(file_path)

# # ตรวจสอบข้อมูลใน DataFrame (แสดง 5 แถวแรก)
# print(df.head())

# # บันทึก DataFrame เป็นไฟล์ CSV
# output_csv_path = './raw_ccaatt.csv'
# df.to_csv(output_csv_path, index=False)

# print(f"บันทึกไฟล์ CSV เรียบร้อยแล้วที่: {output_csv_path}")

In [3]:
# # Import libraries
# import pandas as pd

# # ระบุ path ของไฟล์ Excel ที่ต้องการอ่าน
# file_path = './rcode.xlsx'

# # อ่านไฟล์ Excel เป็น DataFrame
# df = pd.read_excel(file_path)

# # ตรวจสอบข้อมูลใน DataFrame (แสดง 5 แถวแรก)
# print(df.head())

# # บันทึก DataFrame เป็นไฟล์ CSV
# output_csv_path = './rcode.csv'
# df.to_csv(output_csv_path, index=False)

# print(f"บันทึกไฟล์ CSV เรียบร้อยแล้วที่: {output_csv_path}")

TBCCAA-KEY	PK

-TBC-CC	2	2	N		CHANGWAT (จังหวัด)

-TBC-AA	2	2	N		AMPUR (อำเภอ)

-TBC-TT	2	2	N		TAMBOON (ตำบล)

-TBC-MM	2	2	N		MOO BARN (หมู่บ้าน)

TBC-DESC	40	40	AN		DESCRIPTION (คำอธิบาย)

2 digit คือ จังหวัด
2 digit คือ เขต/อำเภอ
2 digit คือ เเขวง/ตำบล

อย่างเช่นของบ้านผม จังหวัด กรุงเทพ เขตลาดพร้าว เเขวงจรเข้บัว

โยงกับ datamodel 
จังหวัด คือ state
county คือ เขต/อำเภอ
city คือเทศบาล
countycity คือ ตำบล

หมายเหตุ :
1. ข้อมูลขณะนี้เป็นข้อมูลในระดับจังหวัด อำเภอ ตำบล
2. รายการรหัสข้อมูลใดที่มีเครื่องหมาย * หมายถึง รหัสนี้ถูกยกเลิก

In [4]:
# Import libraries
import pandas as pd

# ระบุ path ของไฟล์ Excel ที่ต้องการอ่าน
file_path = './ccaatt.csv'

# อ่านไฟล์ Excel เป็น DataFrame
df = pd.read_csv(file_path)

# ตรวจสอบข้อมูลใน DataFrame (แสดง 5 แถวแรก)
print(df.head())

       code           nameTh                     nameEng  transferdate
0  10000000    กรุงเทพมหานคร                     Bangkok             0
1  10010000        เขตพระนคร                 Phra Nakhon             0
2  10010100  พระบรมมหาราชวัง  Phra Borom Maha Ratchawang             0
3  10010200   วังบูรพาภิรมย์         Wang Burapha Phirom             0
4  10010300       วัดราชบพิธ            Wat Ratchabophit             0

In [5]:
## drop column
df.drop(['transferdate','nameEng'], axis=1, inplace=True)
print(df.head())

       code           nameTh
0  10000000    กรุงเทพมหานคร
1  10010000        เขตพระนคร
2  10010100  พระบรมมหาราชวัง
3  10010200   วังบูรพาภิรมย์
4  10010300       วัดราชบพิธ

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10025 entries, 0 to 10024
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    10025 non-null  int64
 1   nameTh  10025 non-null  object
dtypes: int64(1), object(1)
memory usage: 156.8+ KB

In [7]:
# ลบ Missing Values (NaN) ออกจาก DataFrame
df = df.dropna()

# ตรวจสอบและแปลงค่าที่ไม่ใช่ข้อความให้เป็นข้อความ
df['nameTh'] = df['nameTh'].astype(str)
df['code'] = df['code'].astype(str)

# นับจำนวนแถวทั้งหมดก่อนตัดข้อมูล
total_rows_before = len(df)
print(f"จำนวนแถวทั้งหมดก่อนตัดข้อมูล: {total_rows_before}")

# ตัดแถวที่ nameTh ลงท้ายด้วย '*'
df_transform = df[~df['nameTh'].str.endswith('*')]

# นับจำนวนแถวหลังจากตัดข้อมูล
total_rows_after = len(df_transform)
print(f"จำนวนแถวทั้งหมดหลังจากตัดข้อมูล: {total_rows_after}")

# ดู DataFrame หลังการตัดข้อมูล
df_transform

จำนวนแถวทั้งหมดก่อนตัดข้อมูล: 10025
จำนวนแถวทั้งหมดหลังจากตัดข้อมูล: 8441

           code           nameTh
0      10000000    กรุงเทพมหานคร
1      10010000        เขตพระนคร
2      10010100  พระบรมมหาราชวัง
3      10010200   วังบูรพาภิรมย์
4      10010300       วัดราชบพิธ
...         ...              ...
10018  96120400        ช้างเผือก
10019  96130000       เจาะไอร้อง
10020  96130100              จวบ
10021  96130200            บูกิต
10022  96130300       มะรือโบออก

[8441 rows x 2 columns]

In [8]:
df_transform.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8441 entries, 0 to 10022
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    8441 non-null   object
 1   nameTh  8441 non-null   object
dtypes: object(2)
memory usage: 197.8+ KB

In [9]:
df_transform.describe()

            code   nameTh
count       8441     8441
unique      8441     6229
top     96130300  หนองบัว
freq           1       29

In [10]:
## เอาเเต่จังหวัดออกมา
print(df_transform)

           code           nameTh
0      10000000    กรุงเทพมหานคร
1      10010000        เขตพระนคร
2      10010100  พระบรมมหาราชวัง
3      10010200   วังบูรพาภิรมย์
4      10010300       วัดราชบพิธ
...         ...              ...
10018  96120400        ช้างเผือก
10019  96130000       เจาะไอร้อง
10020  96130100              จวบ
10021  96130200            บูกิต
10022  96130300       มะรือโบออก

[8441 rows x 2 columns]

In [11]:
# กรองแถวที่ code มีแค่ 2 ตัวแรกเป็นตัวเลขอื่นได้ และตัวเลขที่เหลือทั้งหมดเป็น 0
state_df = df_transform[df_transform['code'].str.match(r'^\d{2}0+$')]

# แสดงผลลัพธ์
print(state_df)
state_df.to_csv('./state_code_name.csv')

          code           nameTh
0     10000000    กรุงเทพมหานคร
311   11000000      สมุทรปราการ
382   12000000          นนทบุรี
443   13000000         ปทุมธานี
512   14000000  พระนครศรีอยุธยา
...        ...              ...
9488  92000000             ตรัง
9616  93000000           พัทลุง
9716  94000000          ปัตตานี
9847  95000000             ยะลา
9924  96000000         นราธิวาส

[77 rows x 2 columns]

In [13]:
# โหลดข้อมูลชื่อย่อของจังหวัดจากไฟล์ CSV
state_abb_path = './state_abb.csv'
df_abbreviation = pd.read_csv(state_abb_path)

# Merge ข้อมูลโดยใช้คอลัมน์ nameTh
df_merged = pd.merge(state_df, df_abbreviation, left_on='nameTh', right_on='name', how='left')

# ลบคอลัมน์ name ที่ซ้ำซ้อน
df_merged = df_merged.drop(columns=['name'])

# แสดง DataFrame หลัง Merge
print(df_merged)
df_merged.to_csv('./state_code_name_abb.csv')

        code           nameTh abbraviation
0   10000000    กรุงเทพมหานคร          BKK
1   11000000      สมุทรปราการ          SPK
2   12000000          นนทบุรี          NBI
3   13000000         ปทุมธานี          PTE
4   14000000  พระนครศรีอยุธยา          AYA
..       ...              ...          ...
72  92000000             ตรัง          TRG
73  93000000           พัทลุง          PLG
74  94000000          ปัตตานี          PTN
75  95000000             ยะลา          YLA
76  96000000         นราธิวาส          NWT

[77 rows x 3 columns]

: