In [3]:
import pandas as pd

In [4]:
df_ccaatt_1 = pd.read_csv('./old_data//ccaatt.csv')
print(df_ccaatt_1)

           code                 nameTh                     nameEng  \
0      10000000          กรุงเทพมหานคร                     Bangkok
1      10010000              เขตพระนคร                 Phra Nakhon
2      10010100        พระบรมมหาราชวัง  Phra Borom Maha Ratchawang
3      10010200         วังบูรพาภิรมย์         Wang Burapha Phirom
4      10010300             วัดราชบพิธ            Wat Ratchabophit
...         ...                    ...                         ...
10020  96130100                    จวบ                       Chuap
10021  96130200                  บูกิต                       Bukit
10022  96130300             มะรือโบออก                  Maruebo Ok
10023  96810000  อ.บางนรา  จ.นราธิวาส*
10024  97059600               โคกสอาด*                  Khok Sa-at

       transferdate
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
10020             0
10021             0
10022             0
10023      25490101
10024      25490101

[10025 rows x 4 columns]

# clear ที่ถูกยกเลิก ตัวที่ลงท้ายด้วย *

In [5]:
print('before drop *',len(df_ccaatt_1))
df_ccaatt_2 = df_ccaatt_1[~df_ccaatt_1['nameTh'].str.endswith('*')]
print('after drop *',len(df_ccaatt_2))
print(df_ccaatt_2)

before drop * 10025
after drop * 8441
           code           nameTh                     nameEng  transferdate
0      10000000    กรุงเทพมหานคร                     Bangkok             0
1      10010000        เขตพระนคร                 Phra Nakhon             0
2      10010100  พระบรมมหาราชวัง  Phra Borom Maha Ratchawang             0
3      10010200   วังบูรพาภิรมย์         Wang Burapha Phirom             0
4      10010300       วัดราชบพิธ            Wat Ratchabophit             0
...         ...              ...                         ...           ...
10018  96120400        ช้างเผือก                Chang Phueak             0
10019  96130000       เจาะไอร้อง                  Cho-airong             0
10020  96130100              จวบ                       Chuap             0
10021  96130200            บูกิต                       Bukit             0
10022  96130300       มะรือโบออก                  Maruebo Ok             0

[8441 rows x 4 columns]

# split digit for code

In [6]:
df_ccaatt_3 = pd.DataFrame({
    'code': df_ccaatt_2['code'],
    'nameTh': df_ccaatt_2['nameTh'],
    'nameEn': df_ccaatt_2['nameEng'],
    'cc':df_ccaatt_2['code'].astype(str).str[0:2],
    'aa':df_ccaatt_2['code'].astype(str).str[2:4],
    'tt':df_ccaatt_2['code'].astype(str).str[4:6],
})

print(df_ccaatt_3)

           code           nameTh                      nameEn  cc  aa  tt
0      10000000    กรุงเทพมหานคร                     Bangkok  10  00  00
1      10010000        เขตพระนคร                 Phra Nakhon  10  01  00
2      10010100  พระบรมมหาราชวัง  Phra Borom Maha Ratchawang  10  01  01
3      10010200   วังบูรพาภิรมย์         Wang Burapha Phirom  10  01  02
4      10010300       วัดราชบพิธ            Wat Ratchabophit  10  01  03
...         ...              ...                         ...  ..  ..  ..
10018  96120400        ช้างเผือก                Chang Phueak  96  12  04
10019  96130000       เจาะไอร้อง                  Cho-airong  96  13  00
10020  96130100              จวบ                       Chuap  96  13  01
10021  96130200            บูกิต                       Bukit  96  13  02
10022  96130300       มะรือโบออก                  Maruebo Ok  96  13  03

[8441 rows x 6 columns]

# เเยก จังหวัด อำเภอ ตำบล

In [10]:
_df_changwat = df_ccaatt_3[df_ccaatt_3['aa']=='00']
df_changwat = _df_changwat[df_ccaatt_3['tt']=='00']
print(len(df_changwat))
print(df_changwat)

77
          code           nameTh                    nameEn  cc  aa  tt
0     10000000    กรุงเทพมหานคร                   Bangkok  10  00  00
311   11000000      สมุทรปราการ              Samut Prakan  11  00  00
382   12000000          นนทบุรี                Nonthaburi  12  00  00
443   13000000         ปทุมธานี              Pathum Thani  13  00  00
512   14000000  พระนครศรีอยุธยา  Phra Nakhon Si Ayutthaya  14  00  00
...        ...              ...                       ...  ..  ..  ..
9488  92000000             ตรัง                     Trang  92  00  00
9616  93000000           พัทลุง               Phatthalung  93  00  00
9716  94000000          ปัตตานี                   Pattani  94  00  00
9847  95000000             ยะลา                      Yala  95  00  00
9924  96000000         นราธิวาส                Narathiwat  96  00  00

[77 rows x 6 columns]

C:\Users\ssszz\AppData\Local\Temp\ipykernel_24964\309692070.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_changwat = _df_changwat[df_ccaatt_3['tt']=='00']

In [17]:
_df_ampur = df_ccaatt_3[df_ccaatt_3['tt'] =='00']
df_ampur = _df_ampur[df_ccaatt_3['aa'] !='00']

print(len(df_ampur))
print(df_ampur)

928
           code      nameTh         nameEn  cc  aa  tt
1      10010000   เขตพระนคร    Phra Nakhon  10  01  00
14     10020000    เขตดุสิต          Dusit  10  02  00
22     10030000  เขตหนองจอก      Nong Chok  10  03  00
31     10040000   เขตบางรัก       Bang Rak  10  04  00
37     10050000   เขตบางเขน      Bang Khen  10  05  00
...         ...         ...            ...  ..  ..  ..
9996   96090000     สุคิริน       Sukhirin  96  09  00
10002  96100000  สุไหงโก-ลก  Su-ngai Kolok  96  10  00
10007  96110000   สุไหงปาดี   Su-ngai Padi  96  11  00
10014  96120000       จะแนะ         Chanae  96  12  00
10019  96130000  เจาะไอร้อง     Cho-airong  96  13  00

[928 rows x 6 columns]

C:\Users\ssszz\AppData\Local\Temp\ipykernel_24964\1895399528.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ampur = _df_ampur[df_ccaatt_3['aa'] !='00']

In [18]:
df_tumbon = df_ccaatt_3[df_ccaatt_3['tt'] !='00']

print(len(df_tumbon))
print(df_tumbon)

7436
           code           nameTh                      nameEn  cc  aa  tt
2      10010100  พระบรมมหาราชวัง  Phra Borom Maha Ratchawang  10  01  01
3      10010200   วังบูรพาภิรมย์         Wang Burapha Phirom  10  01  02
4      10010300       วัดราชบพิธ            Wat Ratchabophit  10  01  03
5      10010400      สำราญราษฎร์                  Samran Rat  10  01  04
6      10010500   ศาลเจ้าพ่อเสือ           San Chao Pho Suea  10  01  05
...         ...              ...                         ...  ..  ..  ..
10017  96120300         ผดุงมาตร                 Phadung Mat  96  12  03
10018  96120400        ช้างเผือก                Chang Phueak  96  12  04
10020  96130100              จวบ                       Chuap  96  13  01
10021  96130200            บูกิต                       Bukit  96  13  02
10022  96130300       มะรือโบออก                  Maruebo Ok  96  13  03

[7436 rows x 6 columns]

In [20]:
df_ccaatt_3.to_csv('./dist/code_name_en_th_ccaatt.csv')

: