In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('./dist/code_name_en_th_ccaatt.csv',dtype={'cc': str, 'aa': str, 'tt': str})
print(df1)

      Unnamed: 0      code           nameTh                      nameEn  cc  \
0              0  10000000    กรุงเทพมหานคร                     Bangkok  10
1              1  10010000        เขตพระนคร                 Phra Nakhon  10
2              2  10010100  พระบรมมหาราชวัง  Phra Borom Maha Ratchawang  10
3              3  10010200   วังบูรพาภิรมย์         Wang Burapha Phirom  10
4              4  10010300       วัดราชบพิธ            Wat Ratchabophit  10
...          ...       ...              ...                         ...  ..
8436       10018  96120400        ช้างเผือก                Chang Phueak  96
8437       10019  96130000       เจาะไอร้อง                  Cho-airong  96
8438       10020  96130100              จวบ                       Chuap  96
8439       10021  96130200            บูกิต                       Bukit  96
8440       10022  96130300       มะรือโบออก                  Maruebo Ok  96

      aa  tt
0     00  00
1     01  00
2     01  01
3     01  02
4     01  03
...   ..  ..
8436  12  04
8437  13  00
8438  13  01
8439  13  02
8440  13  03

[8441 rows x 7 columns]

county_city mean ตำบล type id = 12 , geo_id start 2425

county cc aa tt

In [4]:
_df_ampur = df1[df1['tt'] =='00']
df_ampur = _df_ampur[df1['aa'] !='00']

print(len(df_ampur))
print(df_ampur)

928
      Unnamed: 0      code      nameTh         nameEn  cc  aa  tt
1              1  10010000   เขตพระนคร    Phra Nakhon  10  01  00
14            14  10020000    เขตดุสิต          Dusit  10  02  00
20            22  10030000  เขตหนองจอก      Nong Chok  10  03  00
29            31  10040000   เขตบางรัก       Bang Rak  10  04  00
35            37  10050000   เขตบางเขน      Bang Khen  10  05  00
...          ...       ...         ...            ...  ..  ..  ..
8414        9996  96090000     สุคิริน       Sukhirin  96  09  00
8420       10002  96100000  สุไหงโก-ลก  Su-ngai Kolok  96  10  00
8425       10007  96110000   สุไหงปาดี   Su-ngai Padi  96  11  00
8432       10014  96120000       จะแนะ         Chanae  96  12  00
8437       10019  96130000  เจาะไอร้อง     Cho-airong  96  13  00

[928 rows x 7 columns]

C:\Users\ssszz\AppData\Local\Temp\ipykernel_11440\1986822777.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ampur = _df_ampur[df1['aa'] !='00']

# extract ตำบล

In [5]:
df_tumbon = df1[df1['tt'] !='00']

print(len(df_tumbon))
print(df_tumbon)

7436
      Unnamed: 0      code           nameTh                      nameEn  cc  \
2              2  10010100  พระบรมมหาราชวัง  Phra Borom Maha Ratchawang  10
3              3  10010200   วังบูรพาภิรมย์         Wang Burapha Phirom  10
4              4  10010300       วัดราชบพิธ            Wat Ratchabophit  10
5              5  10010400      สำราญราษฎร์                  Samran Rat  10
6              6  10010500   ศาลเจ้าพ่อเสือ           San Chao Pho Suea  10
...          ...       ...              ...                         ...  ..
8435       10017  96120300         ผดุงมาตร                 Phadung Mat  96
8436       10018  96120400        ช้างเผือก                Chang Phueak  96
8438       10020  96130100              จวบ                       Chuap  96
8439       10021  96130200            บูกิต                       Bukit  96
8440       10022  96130300       มะรือโบออก                  Maruebo Ok  96

      aa  tt
2     01  01
3     01  02
4     01  03
5     01  04
6     01  05
...   ..  ..
8435  12  03
8436  12  04
8438  13  01
8439  13  02
8440  13  03

[7436 rows x 7 columns]

In [6]:
df_tumbon_2 = pd.DataFrame({
    'geo_id': range(2425, len(df_tumbon) + 2425),
    'geo_code': df_tumbon['code'].astype(str),
    'name_en': df_tumbon['nameEn'],
    'name_th': df_tumbon['nameTh'],
    'abbreviation': df_tumbon['code'].astype(str),
    'type_id': 12
})

print(df_tumbon_2)

      geo_id  geo_code                     name_en          name_th  \
2       2425  10010100  Phra Borom Maha Ratchawang  พระบรมมหาราชวัง
3       2426  10010200         Wang Burapha Phirom   วังบูรพาภิรมย์
4       2427  10010300            Wat Ratchabophit       วัดราชบพิธ
5       2428  10010400                  Samran Rat      สำราญราษฎร์
6       2429  10010500           San Chao Pho Suea   ศาลเจ้าพ่อเสือ
...      ...       ...                         ...              ...
8435    9856  96120300                 Phadung Mat         ผดุงมาตร
8436    9857  96120400                Chang Phueak        ช้างเผือก
8438    9858  96130100                       Chuap              จวบ
8439    9859  96130200                       Bukit            บูกิต
8440    9860  96130300                  Maruebo Ok       มะรือโบออก

     abbreviation  type_id
2        10010100       12
3        10010200       12
4        10010300       12
5        10010400       12
6        10010500       12
...           ...      ...
8435     96120300       12
8436     96120400       12
8438     96130100       12
8439     96130200       12
8440     96130300       12

[7436 rows x 6 columns]

export suppertype

In [7]:
df_tumbon_2.to_csv('./dist/county_city_suppertype_en_th.csv',index=False)

make subtype

everything in city_id=2424

# ใช้เทคนิค เอา จังหวั&อำเภอ ที่ ตำลบมีร่วมกับอำเภอในการ join

step 1 ทำไงก็ได้ ให้มี geo_id code ของ county

In [10]:
print(df_tumbon_2)

      geo_id  geo_code                     name_en          name_th  \
2       2425  10010100  Phra Borom Maha Ratchawang  พระบรมมหาราชวัง
3       2426  10010200         Wang Burapha Phirom   วังบูรพาภิรมย์
4       2427  10010300            Wat Ratchabophit       วัดราชบพิธ
5       2428  10010400                  Samran Rat      สำราญราษฎร์
6       2429  10010500           San Chao Pho Suea   ศาลเจ้าพ่อเสือ
...      ...       ...                         ...              ...
8435    9856  96120300                 Phadung Mat         ผดุงมาตร
8436    9857  96120400                Chang Phueak        ช้างเผือก
8438    9858  96130100                       Chuap              จวบ
8439    9859  96130200                       Bukit            บูกิต
8440    9860  96130300                  Maruebo Ok       มะรือโบออก

     abbreviation  type_id
2        10010100       12
3        10010200       12
4        10010300       12
5        10010400       12
6        10010500       12
...           ...      ...
8435     96120300       12
8436     96120400       12
8438     96130100       12
8439     96130200       12
8440     96130300       12

[7436 rows x 6 columns]

step 2 extract เอาเเต่ digit ccaa ออกมา

In [18]:
df_tumbon_3 = df_tumbon_2
df_tumbon_3['ccaa'] = df_tumbon_3['geo_code'].astype(str).str[0:4]
print('check df_tumbon_2 to see pointer point back to old df or not',df_tumbon_2.columns)
print(df_tumbon_3)

check df_tumbon_2 to see pointer point back to old df or not Index(['geo_id', 'geo_code', 'name_en', 'name_th', 'abbreviation', 'type_id',
       'ccaa'],
      dtype='object')
      geo_id  geo_code                     name_en          name_th  \
2       2425  10010100  Phra Borom Maha Ratchawang  พระบรมมหาราชวัง
3       2426  10010200         Wang Burapha Phirom   วังบูรพาภิรมย์
4       2427  10010300            Wat Ratchabophit       วัดราชบพิธ
5       2428  10010400                  Samran Rat      สำราญราษฎร์
6       2429  10010500           San Chao Pho Suea   ศาลเจ้าพ่อเสือ
...      ...       ...                         ...              ...
8435    9856  96120300                 Phadung Mat         ผดุงมาตร
8436    9857  96120400                Chang Phueak        ช้างเผือก
8438    9858  96130100                       Chuap              จวบ
8439    9859  96130200                       Bukit            บูกิต
8440    9860  96130300                  Maruebo Ok       มะรือโบออก

     abbreviation  type_id  ccaa
2        10010100       12  1001
3        10010200       12  1001
4        10010300       12  1001
5        10010400       12  1001
6        10010500       12  1001
...           ...      ...   ...
8435     96120300       12  9612
8436     96120400       12  9612
8438     96130100       12  9613
8439     96130200       12  9613
8440     96130300       12  9613

[7436 rows x 7 columns]

step 3 load county suppertype มา เพื่อเอา geo id มาใช้

In [16]:
df_county_syppertype = pd.read_csv('./dist/county_suppertype_en_th.csv')
print(df_county_syppertype)

     geo_id  geo_code        name_en     name_th abbreviation  type_id
0      1496  10010000    Phra Nakhon   เขตพระนคร            -        5
1      1497  10020000          Dusit    เขตดุสิต            -        5
2      1498  10030000      Nong Chok  เขตหนองจอก            -        5
3      1499  10040000       Bang Rak   เขตบางรัก            -        5
4      1500  10050000      Bang Khen   เขตบางเขน            -        5
..      ...       ...            ...         ...          ...      ...
923    2419  96090000       Sukhirin     สุคิริน            -        5
924    2420  96100000  Su-ngai Kolok  สุไหงโก-ลก            -        5
925    2421  96110000   Su-ngai Padi   สุไหงปาดี            -        5
926    2422  96120000         Chanae       จะแนะ            -        5
927    2423  96130000     Cho-airong  เจาะไอร้อง            -        5

[928 rows x 6 columns]

extract aumper digit because tumbon is in aumper

In [17]:
df_county_syppertype['ccaa'] = df_county_syppertype['geo_code'].astype(str).str[0:4]
print(df_county_syppertype)

     geo_id  geo_code        name_en     name_th abbreviation  type_id  ccaa
0      1496  10010000    Phra Nakhon   เขตพระนคร            -        5  1001
1      1497  10020000          Dusit    เขตดุสิต            -        5  1002
2      1498  10030000      Nong Chok  เขตหนองจอก            -        5  1003
3      1499  10040000       Bang Rak   เขตบางรัก            -        5  1004
4      1500  10050000      Bang Khen   เขตบางเขน            -        5  1005
..      ...       ...            ...         ...          ...      ...   ...
923    2419  96090000       Sukhirin     สุคิริน            -        5  9609
924    2420  96100000  Su-ngai Kolok  สุไหงโก-ลก            -        5  9610
925    2421  96110000   Su-ngai Padi   สุไหงปาดี            -        5  9611
926    2422  96120000         Chanae       จะแนะ            -        5  9612
927    2423  96130000     Cho-airong  เจาะไอร้อง            -        5  9613

[928 rows x 7 columns]

step 4 merge table โดยใช้ ccaa

In [19]:
subtype_merged = pd.merge(
    df_tumbon_3,
    df_county_syppertype,
    how='left',  # ใช้ left join
    on='ccaa'
)

# ตรวจสอบจำนวนแถว
print(len(subtype_merged))  # ควรได้ 7436 แถวเท่ากับ df_county_city_suppertype_2
print(subtype_merged)

7436
      geo_id_x geo_code_x                   name_en_x        name_th_x  \
0         2425   10010100  Phra Borom Maha Ratchawang  พระบรมมหาราชวัง
1         2426   10010200         Wang Burapha Phirom   วังบูรพาภิรมย์
2         2427   10010300            Wat Ratchabophit       วัดราชบพิธ
3         2428   10010400                  Samran Rat      สำราญราษฎร์
4         2429   10010500           San Chao Pho Suea   ศาลเจ้าพ่อเสือ
...        ...        ...                         ...              ...
7431      9856   96120300                 Phadung Mat         ผดุงมาตร
7432      9857   96120400                Chang Phueak        ช้างเผือก
7433      9858   96130100                       Chuap              จวบ
7434      9859   96130200                       Bukit            บูกิต
7435      9860   96130300                  Maruebo Ok       มะรือโบออก

     abbreviation_x  type_id_x  ccaa  geo_id_y  geo_code_y    name_en_y  \
0          10010100         12  1001      1496    10010000  Phra Nakhon
1          10010200         12  1001      1496    10010000  Phra Nakhon
2          10010300         12  1001      1496    10010000  Phra Nakhon
3          10010400         12  1001      1496    10010000  Phra Nakhon
4          10010500         12  1001      1496    10010000  Phra Nakhon
...             ...        ...   ...       ...         ...          ...
7431       96120300         12  9612      2422    96120000       Chanae
7432       96120400         12  9612      2422    96120000       Chanae
7433       96130100         12  9613      2423    96130000   Cho-airong
7434       96130200         12  9613      2423    96130000   Cho-airong
7435       96130300         12  9613      2423    96130000   Cho-airong

       name_th_y abbreviation_y  type_id_y
0      เขตพระนคร              -          5
1      เขตพระนคร              -          5
2      เขตพระนคร              -          5
3      เขตพระนคร              -          5
4      เขตพระนคร              -          5
...          ...            ...        ...
7431       จะแนะ              -          5
7432       จะแนะ              -          5
7433  เจาะไอร้อง              -          5
7434  เจาะไอร้อง              -          5
7435  เจาะไอร้อง              -          5

[7436 rows x 13 columns]

print มา check เล่นๆ ว่า ชื่อตำบลใหน อยู่ในอำเภอใหน

In [20]:
df_aumpur_dependent_check = pd.DataFrame({
    'aumpur': subtype_merged['name_th_x'],
    'inside_tumbon':subtype_merged['name_th_y']
})
print(df_aumpur_dependent_check)

               aumpur inside_tumbon
0     พระบรมมหาราชวัง     เขตพระนคร
1      วังบูรพาภิรมย์     เขตพระนคร
2          วัดราชบพิธ     เขตพระนคร
3         สำราญราษฎร์     เขตพระนคร
4      ศาลเจ้าพ่อเสือ     เขตพระนคร
...               ...           ...
7431         ผดุงมาตร         จะแนะ
7432        ช้างเผือก         จะแนะ
7433              จวบ    เจาะไอร้อง
7434            บูกิต    เจาะไอร้อง
7435       มะรือโบออก    เจาะไอร้อง

[7436 rows x 2 columns]

ดู อำเภอที่ชื่อซ้ำกัน

In [29]:
print(df_aumpur_dependent_check['aumpur'].value_counts())

aumpur
หนองบัว      28
ในเมือง      22
หนองแวง      18
บ้านใหม่     16
ท่าข้าม      14
             ..
ดุซงญอ        1
ผดุงมาตร      1
จวบ           1
บูกิต         1
เสาชิงช้า     1
Name: count, Length: 5849, dtype: int64

deepseek บอกว่า


ในประเทศไทย ชื่ออำเภอ (District) สามารถซ้ำกันได้ในต่างจังหวัด เนื่องจากแต่ละจังหวัดเป็นหน่วยการปกครองที่แยกจากกัน ดังนั้นอาจมีอำเภอชื่อเดียวกันอยู่ในจังหวัดต่างกันได้

step 5 ดึงเอาเเต่ตัวที่จะใส่ใน subtype

In [31]:
county_city_subtype = pd.DataFrame({
    'geo_id': subtype_merged['geo_id_x'],
    'county_id':subtype_merged['geo_id_y'],
    'city_id':2424,
})
print(county_city_subtype)

      geo_id  county_id  city_id
0       2425       1496     2424
1       2426       1496     2424
2       2427       1496     2424
3       2428       1496     2424
4       2429       1496     2424
...      ...        ...      ...
7431    9856       2422     2424
7432    9857       2422     2424
7433    9858       2423     2424
7434    9859       2423     2424
7435    9860       2423     2424

[7436 rows x 3 columns]

export county_city subtype

In [ ]:
county_city_subtype.to_csv('./dist/county_city_subtype.csv',index=False)