# เพิ่มภาษาอังกฤษ ไทย ลงใน name ของ country table

In [2]:
import pandas as pd

In [3]:
# เเก้ปัญหา pandas คิดว่า namibia NA คือ NAN value

df_raw = pd.read_csv('./old_data/country_suppertype.csv',keep_default_na=False, na_values=[''])
print(df_raw)

     geo_id    geo_code               name abbreviation  type_id
0         1  country-AF        Afghanistan           AF        1
1         2  country-AX      Åland Islands           AX        1
2         3  country-AL            Albania           AL        1
3         4  country-DZ            Algeria           DZ        1
4         5  country-AS     American Samoa           AS        1
..      ...         ...                ...          ...      ...
244     245  country-WF  Wallis and Futuna           WF        1
245     246  country-EH     Western Sahara           EH        1
246     247  country-YE              Yemen           YE        1
247     248  country-ZM             Zambia           ZM        1
248     249  country-ZW           Zimbabwe           ZW        1

[249 rows x 5 columns]

In [4]:
df_1 = pd.DataFrame({
    'geo_id' : df_raw['geo_id'],
    'geo_code' : df_raw['abbreviation'],
    'name' : df_raw['name'],
    'abbreviation' : df_raw['abbreviation'],
    'type_id' : df_raw['type_id']
})
print(df_1)

     geo_id geo_code               name abbreviation  type_id
0         1       AF        Afghanistan           AF        1
1         2       AX      Åland Islands           AX        1
2         3       AL            Albania           AL        1
3         4       DZ            Algeria           DZ        1
4         5       AS     American Samoa           AS        1
..      ...      ...                ...          ...      ...
244     245       WF  Wallis and Futuna           WF        1
245     246       EH     Western Sahara           EH        1
246     247       YE              Yemen           YE        1
247     248       ZM             Zambia           ZM        1
248     249       ZW           Zimbabwe           ZW        1

[249 rows x 5 columns]

In [5]:
df_2 = pd.read_csv('./old_data/country-list-th.csv',keep_default_na=False, na_values=[''])
print(df_2)

                       name                            enName alpha2 alpha3  \
0                      กรีซ                            Greece     GR    GRC
1                 กรีนแลนด์                         Greenland     GL    GRL
2                       กวม                              Guam     GU    GUM
3                   กัมพูชา                          Cambodia     KH    KHM
4                 กัวเดอลุป                        Guadeloupe     GP    GLP
..                      ...                               ...    ...    ...
244                 ฮังการี                           Hungary     HU    HUN
245                    เฮติ                             Haiti     HT    HTI
246           ซินต์มาร์เติน                      Sint Maarten     SX    SXM
247  เนเธอร์แลนด์แคริบเบียน  Bonaire, Sint Eustatius and Saba     BQ    BES
248     สฟาลบาร์และยานไมเอน            Svalbard and Jan Mayen     SJ    SJM

     numeric      iso3166_2
0        300  ISO 3166-2:GR
1        304  ISO 3166-2:GL
2        316  ISO 3166-2:GU
3        116  ISO 3166-2:KH
4        312  ISO 3166-2:GP
..       ...            ...
244      348  ISO 3166-2:HU
245      332  ISO 3166-2:HT
246      534  ISO 3166-2:SX
247      535  ISO 3166-2:BQ
248      744  ISO 3166-2:SJ

[249 rows x 6 columns]

In [11]:
# add language

# รวม df_1 และ df_2 โดยใช้ abbreviation จาก df_1 และ alpha2 จาก df_2
df_3 = pd.merge(
    df_1,
    df_2,
    left_on='abbreviation',
    right_on='alpha2',
    how='inner'  # หรือ how='left' หากต้องการเก็บทุกแถวจาก df_1
)
# ตรวจสอบคอลัมน์ใน df_3
print(df_3.head())

   geo_id geo_code          name_x abbreviation  type_id           name_y  \
0       1       AF     Afghanistan           AF        1      อัฟกานิสถาน
1       2       AX   Åland Islands           AX        1  หมู่เกาะโอลันด์
2       3       AL         Albania           AL        1        แอลเบเนีย
3       4       DZ         Algeria           DZ        1        แอลจีเรีย
4       5       AS  American Samoa           AS        1    อเมริกันซามัว

           enName alpha2 alpha3  numeric      iso3166_2
0     Afghanistan     AF    AFG        4  ISO 3166-2:AF
1   Åland Islands     AX    ALA      248  ISO 3166-2:AX
2         Albania     AL    ALB        8  ISO 3166-2:AL
3         Algeria     DZ    DZA       12  ISO 3166-2:DZ
4  American Samoa     AS    ASM       16  ISO 3166-2:AS

In [12]:

# เลือกคอลัมน์ที่ต้องการ
df_4 = df_3[['geo_id', 'geo_code', 'enName', 'name_y', 'abbreviation', 'type_id']]

# เปลี่ยนชื่อคอลัมน์ให้ตรงตามที่ต้องการ
df_4.columns = ['geo_id', 'geo_code', 'name_en', 'name_th', 'abbreviation', 'type_id']

print('-'*100)

# แสดงผลลัพธ์
print(df_4)

----------------------------------------------------------------------------------------------------
     geo_id geo_code            name_en          name_th abbreviation  type_id
0         1       AF        Afghanistan      อัฟกานิสถาน           AF        1
1         2       AX      Åland Islands  หมู่เกาะโอลันด์           AX        1
2         3       AL            Albania        แอลเบเนีย           AL        1
3         4       DZ            Algeria        แอลจีเรีย           DZ        1
4         5       AS     American Samoa    อเมริกันซามัว           AS        1
..      ...      ...                ...              ...          ...      ...
244     245       WF  Wallis and Futuna   วาลิสและฟูตูนา           WF        1
245     246       EH     Western Sahara    ซาฮาราตะวันตก           EH        1
246     247       YE              Yemen            เยเมน           YE        1
247     248       ZM             Zambia          แซมเบีย           ZM        1
248     249       ZW           Zimbabwe         ซิมบับเว           ZW        1

[249 rows x 6 columns]

In [13]:
df_4.to_csv('./country_suppertype_en_th.csv', index=False)