In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('./old_data/state_suppertype.csv',keep_default_na=False, na_values=[''])
print(df1)

    geo_id           geo_code             name abbreviation  type_id
0     1419  state-TH-10000000    กรุงเทพมหานคร          BKK        3
1     1420  state-TH-11000000      สมุทรปราการ          SPK        3
2     1421  state-TH-12000000          นนทบุรี          NBI        3
3     1422  state-TH-13000000         ปทุมธานี          PTE        3
4     1423  state-TH-14000000  พระนครศรีอยุธยา          AYA        3
..     ...                ...              ...          ...      ...
72    1491  state-TH-92000000             ตรัง          TRG        3
73    1492  state-TH-93000000           พัทลุง          PLG        3
74    1493  state-TH-94000000          ปัตตานี          PTN        3
75    1494  state-TH-95000000             ยะลา          YLA        3
76    1495  state-TH-96000000         นราธิวาส          NWT        3

[77 rows x 5 columns]

In [3]:
df2 = pd.read_csv('./from_github/thai_provinces.csv')
print(df2)

    id          name_th                   name_en  geography_id  \
0    1    กรุงเทพมหานคร                   Bangkok             2
1    2      สมุทรปราการ              Samut Prakan             2
2    3          นนทบุรี                Nonthaburi             2
3    4         ปทุมธานี              Pathum Thani             2
4    5  พระนครศรีอยุธยา  Phra Nakhon Si Ayutthaya             2
..  ..              ...                       ...           ...
72  73           พัทลุง               Phatthalung             6
73  74          ปัตตานี                   Pattani             6
74  75             ยะลา                      Yala             6
75  76         นราธิวาส                Narathiwat             6
76  77           บึงกาฬ                   buogkan             3

           created_at          updated_at  deleted_at
0   9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
1   9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
2   9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
3   9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
4   9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
..                ...                 ...         ...
72  9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
73  9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
74  9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
75  9/8/2019 03:33:09  16/5/2022 06:31:03         NaN
76  9/8/2019 03:33:09  16/5/2022 06:31:03         NaN

[77 rows x 7 columns]

In [12]:
df3 = pd.merge(
    df1,
    df2,
    left_on='name',
    right_on='name_th',
    how='inner'
)
print(df3.head())
print(df3.count())
print(df3.columns)

   geo_id           geo_code             name abbreviation  type_id  id  \
0    1419  state-TH-10000000    กรุงเทพมหานคร          BKK        3   1
1    1420  state-TH-11000000      สมุทรปราการ          SPK        3   2
2    1421  state-TH-12000000          นนทบุรี          NBI        3   3
3    1422  state-TH-13000000         ปทุมธานี          PTE        3   4
4    1423  state-TH-14000000  พระนครศรีอยุธยา          AYA        3   5

           name_th                   name_en  geography_id         created_at  \
0    กรุงเทพมหานคร                   Bangkok             2  9/8/2019 03:33:09
1      สมุทรปราการ              Samut Prakan             2  9/8/2019 03:33:09
2          นนทบุรี                Nonthaburi             2  9/8/2019 03:33:09
3         ปทุมธานี              Pathum Thani             2  9/8/2019 03:33:09
4  พระนครศรีอยุธยา  Phra Nakhon Si Ayutthaya             2  9/8/2019 03:33:09

           updated_at  deleted_at
0  16/5/2022 06:31:03         NaN
1  16/5/2022 06:31:03         NaN
2  16/5/2022 06:31:03         NaN
3  16/5/2022 06:31:03         NaN
4  16/5/2022 06:31:03         NaN
geo_id          77
geo_code        77
name            77
abbreviation    77
type_id         77
id              77
name_th         77
name_en         77
geography_id    77
created_at      77
updated_at      77
deleted_at       0
dtype: int64
Index(['geo_id', 'geo_code', 'name', 'abbreviation', 'type_id', 'id',
       'name_th', 'name_en', 'geography_id', 'created_at', 'updated_at',
       'deleted_at'],
      dtype='object')

In [14]:
df4 = pd.DataFrame({
    'geo_id': df3['geo_id'],
    'geo_code': df3['geo_code'],
    'name_en': df3['name_en'],
    'name_th': df3['name_th'],
    'abbreviation': df3['abbreviation'],
    'type_id': df3['type_id']
})
print(df4)

    geo_id           geo_code                   name_en          name_th  \
0     1419  state-TH-10000000                   Bangkok    กรุงเทพมหานคร
1     1420  state-TH-11000000              Samut Prakan      สมุทรปราการ
2     1421  state-TH-12000000                Nonthaburi          นนทบุรี
3     1422  state-TH-13000000              Pathum Thani         ปทุมธานี
4     1423  state-TH-14000000  Phra Nakhon Si Ayutthaya  พระนครศรีอยุธยา
..     ...                ...                       ...              ...
72    1491  state-TH-92000000                     Trang             ตรัง
73    1492  state-TH-93000000               Phatthalung           พัทลุง
74    1493  state-TH-94000000                   Pattani          ปัตตานี
75    1494  state-TH-95000000                      Yala             ยะลา
76    1495  state-TH-96000000                Narathiwat         นราธิวาส

   abbreviation  type_id
0           BKK        3
1           SPK        3
2           NBI        3
3           PTE        3
4           AYA        3
..          ...      ...
72          TRG        3
73          PLG        3
74          PTN        3
75          YLA        3
76          NWT        3

[77 rows x 6 columns]

In [16]:
df4.to_csv('./dist/state_suppertype_en_th.csv', index=False)